.contanier{
   width: 950w;
   height: 95vh;
    background-color: aliceblue;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box{
    width: 400px;
    height: 400px;
    background-color: beige;
    border:2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;
    transition: all 3s linear 1s;
}
.box:hover{
    /* transform: rotate(360deg); */
    /* transform: scale(0.5); */
    /* transform: skew(45deg); */
    /* transform: translate(-200px,200px); */
    transform: matrix(2,3,3,2,20,20);
}

p{
    font-size: 30px;
}